
@model DBConnectionTest.ViewModels.ExpenseAndDetailsViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="pull-left">@Html.ActionLink("Back to List", "Index", "expenses", null, new { @class = "btn btn-primary" })</div>
</div>
<h1>Expense</h1>
@Html.Partial("ExpensesEditPartial", Model.Expense)
@Html.Partial("ExpenseDetailsListEditPartial", Model.ExpenseDetailsList)
