
@model DBConnectionTest.ViewModels.ExpenseAndDetailsViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="col-md-6"><h1>Expense</h1></div>
    <div class="col-md-6 text-right">@Html.ActionLink("Back to List", "Index", "expenses", null, new { @class = "btn btn-primary" })</div>
</div>

@Html.Partial("ExpensesEditPartial", Model.Expense)
@Html.Partial("ExpenseDetailsListEditPartial", Model.ExpenseDetailsList)
