
@model DBConnectionTest.ViewModels.ExpenseModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="align-left">@Html.ActionLink("Back to List", "Index", "expenses", null, new { @class = "btn btn-primary" })</div>
</div>
<div><h2>Edit Expense</h2></div>
<hr />
@Html.Partial("ExpensesEditPartial", Model)
@*@Html.Partial("ExpenseDetailsListEditPartial", Model.ExpenseDetailsList)*@
