@using DBConnectionTest.Models
@model IEnumerable<DBConnectionTest.Models.Expense>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.Partial("ExpensesListPartial", Model)
