@using DBConnectionTest.ViewModels

@model DBConnectionTest.ViewModels.VendorExpensesViewModel
@{
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@Html.Partial("VendorInfoPartial", Model.Vendor)
@Html.Partial("ExpensesListPartial", Model.ExpensesList)