body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

tr:nth-child(odd)    { background-color:#ffffff; }
tr:nth-child(even)    { background-color:#D9E6C4; }

.border {
    border: 2px solid;
}

.alertbox {
    font-size: .8em;
}

.panel {
    min-width:200px;
}
.glyphicon-sm {
    font-size: .8em;
}
.dashboard-glpyh {
    font-size: 1.5em;
}
.expensetable {
    font-size: small;
}

.col-xs {
    width: 5%;
    text-align: center;
}
.col-sm{
    width: 10%;
}
.col-med{
    width: 15%;
}
.col-lg {
    width: 20%;
}
.nav-top-btn{
   vertical-align:baseline;
}
.vendorlist {
    font-size: small;
}
.vendorlist .vendor{
        width: 25%;
}

.vendorlist .address {
    width: 15%;
}

.vendorlist .city {
    width: 10%;
}
.vendorlist .state {
    width: 5%;
}
.vendorlist .zipcode {
    width: 10%;
}
.vendorlist .description {
    width: 20%;
}
.vendorlist .action {
    width: 15%;
}


navbar {
    min-width: 750px;
}