
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="container">
    <div class="row">
        <div class="panel table-bordered">
            <div class="panel-heading"> Login</div>
            <div class="panel-body">
                @using (Html.BeginForm("", "Dashboard", FormMethod.Post))
    {
            <div>User Id: <input type="text" class="form-control" /><br /></div>
            <div>Password: <input type="password"  class="form-control"/><br /></div>
            <div><button type="submit" class="btn-primary">Submit</button></div>
}
            </div>
        </div>
     </div>
    <div>
        @Html.ActionLink("Register", "", "register", null, new { @class = "btn btn-primary"})
    </div>
</div>