
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Lease Administration Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="/expenses">
                <h1><i class="glyphicon glyphicon-list text-info"></i></h1>
                Expenses<br />
            </a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="/vendors">
                <h1><i class="glyphicon glyphicon-list text-info"></i></h1>
            </a>

            Vendors<br />
        </div>
        <div class="col-xs-4 text-center">
            <a href="/tenants">
                <h1><i class="glyphicon glyphicon-list text-info"></i></h1>
                Tenants<br />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-4 text-center">
            <h1><i class="glyphicon glyphicon-list text-info"></i></h1>

            Locations<br />
        </div>
        <div class="col-xs-4 text-center">
            <a href="/TenantLeaseInfoes">
                <h1><i class="glyphicon glyphicon-list text-info"></i></h1>
                Leases<br />
            </a>
            
        </div>
        <div class="col-xs-4 text-center">
            <h1><i class="glyphicon glyphicon-list text-info"></i></h1>

            Calendar<br />
        </div>

    </div>

</div>